body {
  margin: 0;
  padding: 0;
}

#map {
  height: 100vh;
  width: 100vw;
  background-color: rgb(53, 53, 53);
  display: flex;
  justify-content: center;
  align-items: center;
}

#wrap {
  min-width: 790px;
  min-height: 790px;
  max-width: 790px;
  max-height: 790px;
  /* border: 2px black solid; */
  border-radius: 5px;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  flex-wrap: wrap;
}

.block {
  background-color: green;
  min-width: 75px;
  min-height: 75px;
  max-width: 75px;
  max-height: 75px;
  border: 2px rgb(3, 99, 3) solid;
  border-radius: 1px;
}

.apple {
  background-color: rgb(150, 35, 0);
  min-width: 75px;
  min-height: 75px;
  max-width: 75px;
  max-height: 75px;
  border: 2px rgb(99, 8, 8) solid;
  border-radius: 1px;
}

.snake {
  background-color: rgb(126, 89, 47);
  min-width: 75px;
  min-height: 75px;
  max-width: 75px;
  max-height: 75px;
  border: 2px rgb(102, 72, 37) solid;
  border-radius: 1px;
}
